*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo{
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;


}

#subtitulo{
    text-align: center;
  

}


body{
    background-color: #f2cb57;
    height: 100%;
    border: 0px solid white;
    margin-bottom: -50%;
}

div{
    text-align: center;
    margin-bottom: 15px;
}

html{
    height: 100%;
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

.botao{
   margin-top: 25px;
}

a:link, a:visited {
    background-color: #479613;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #479613;
  }

  #botao2{
    background-color: #961313;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }